name: Deploy to Netlify
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v2.0
        with:
          publish-dir: './src/frontend'
          production-deploy: true
        env:
          NETLIFY_AUTH_TOKEN: ${{ nfp_KiRXov9gpFUW6LTkKiLma8mQGizNPMjad4d0 }}
          NETLIFY_SITE_ID: ${{ 2eed7b5c-c79b-4711-a1d6-1e309d5b3959 }}
